<ion-content>
  <div class="flex-center">
    <ion-card>
      <ion-card-header>
        <ion-card-title color="success">Register</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-input label="Email" labelPlacement="floating" placeholder="Enter text" type="email" required="true"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input label="First Name" labelPlacement="floating" placeholder="Enter text" type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input label="Last Name" labelPlacement="floating" placeholder="Enter text" type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input label="Phno" labelPlacement="floating" placeholder="Enter text" type="tel"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input label="Password" labelPlacement="floating" placeholder="Enter text" type="Password"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input label="Password" labelPlacement="floating" placeholder="Confirm text" type="Password"></ion-input>
        </ion-item>
        <ion-button color="success" size="full" [routerLink]="['/home']">Register</ion-button>
      </ion-card-content>
      <ion-item><img id="i1" src="../../assets/icon/step1.png" alt="" width="200px" style="margin-top: 20px; margin-left: 40px;"/></ion-item>
    </ion-card>
  </div>
</ion-content>