ion-button[color="dark"]{
  text-transform: initial;
}

ion-content{
  --background: #28ba62;
}

ion-card{
  --background: white;
  color: black;
}

ion-button{
  color: black;
}

ion-item{
  --background: white;
  color: black;
}